<h2><%= @restaurant.name %></h2>

<% if @restaurant.phone_number.nil?%>
  <%phone_number = "Not given"%>
 <%else %>
   <% phone_number = @restaurant.phone_number %>
<%end%>

<ul>
  <li>Category: <%= @restaurant.category %></li>
  <li>Address: <%= @restaurant.address %></li>
  <li>Number: <%= phone_number %></li>
</ul>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> - <%= review.rating %>/5 </li>
  <% end %>
</ul>
<br>

<%= link_to "Leave a Review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Back to Restaurants", restaurants_path %>
